






@media screen and (max-width:770px){
     .head-section{
    flex-direction: column;
    
}
.logo {
    width: 100%;
    margin: 10px 20px ;
    padding-left: 100px;
    text-align: center;
    align-items: center;

   
}
.navber{
    width: 500px;
    flex-direction: row;
    text-align: center;
    padding-left: 10px;
    margin-left: 20px;
    gap: 10px;
    
}
 .navber  .follow{
    width: 50%;
    gap:5px;

   
} 
}




@media screen and (max-width:480px) {
    .head-section{
    flex-direction: column;
    
}
.logo {
    width: 100%;
    margin: 10px auto ;
    padding: 30px;
   
}
.navber{
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    
}
 .navber  .follow{
    width: 80%;
    margin: 40px;
   
} 

}

@media screen and (min-width:576px) and (max-width:992px) {
      .head-section{
    flex-direction: column;
    
}
.logo {
    width: 100%;
    margin: 10px auto ;
    padding: 30px;
}
}